/* IMPOSTAZIONI GENERALI */
body {
    width: 500px;
    padding: 20px;
    background-image: url(../img/sfondo.png);
    background-repeat: repeat-y;
    font-family: "Poppins", sans-serif; ;
}
/* HEADER */
header {
    width: 80%;
    padding: 40px 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    background: #009ddb;
background: linear-gradient(180deg,rgba(0, 157, 219, 1) 0%, rgba(0, 92, 125, 1) 100%);
}
.logo {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
.logo img {
    width: 100%;  
}
.subtitle {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
}
.subtitle p, li a {
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
nav ul {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 30px;

}

/* MAIN */
main {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
    background-color: white;
    width: 80%;
    padding: 40px 30px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
}
.title-post h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 20px;
}
.title-post p {
    color: gray;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
/* ELEMENTI NEL MAIN - ARTICLE */
article p {
    margin-bottom: 20px;
    line-height: 25px;
    font-weight: 400;
}
article p b{
    color: blueviolet;
}
article ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 20px;
}
article li {
    line-height: 30px;
}
li span {
    border-radius: 10px;
    border: 1px solid;
    background-color: #f3f3f3;
}
article ol {
    list-style-type: decimal;
    padding-left: 40px;
    margin-bottom: 20px;
}

/* TABELLE */
table {
    height: 300px;
    text-align: center;
    border-bottom: 1px solid blue;
    margin-bottom: 20px;
}
table caption {
    font-style: italic;
    font-weight: 500;
}
table th {
    background-color: rgb(56, 117, 247);
    padding: 20px;
    text-align:center;
    line-height: 30px;
    border: 1px solid;
    border-color: rgb(214, 214, 214);
    border-collapse: collapse;
    color: white;
}
table td {
    padding: 15px;
    border-right: 1px solid;
    border-right-color: white;
    border-left-color: white;
}
table tr:nth-child(odd) {
    background-color: #f3f3f3;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-bottom-color: #e5cfcf;
    border-top-color: #e5cfcf;
    
}
article a {
    color:#009ddb
}
iframe {
    border-radius: 30px;
    width: 100%;
}

/* FORM */
form {
    width: 100%;
    margin-top: 20px;

}
form button {
    background-color: blue;
    color: white;
    height: 30px;
    width: 20%;
    font-size: 15px;
}
form input {
    border-style: none;
    border-bottom-style: dotted;
    width: 70%;
    height: 30px;
    font-size: 15px;
}
/* ELEMENTI NELL' ASIDE */
#newsletter, aside {
    background-color: #e2dbdb;
    margin-top: 20px;
    text-align: left;
    padding: 10px;
}

#newsletter h2, #special-h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 20px;
}
aside a {
    color: #009ddb;
}
.related {
    line-height: 40px;
}
.date {
    font-size: 15px;
    padding-left: 210px;
}
/* FOOTER */
footer {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    background: #013b33;
    background: linear-gradient(0deg,rgba(1, 59, 51, 1) 35%, rgba(2, 148, 171, 1) 100%);
    width: 80%;
    padding: 40px 30px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
}
footer a {
    color: purple;
}
